:host {
    background: transparent;
    pointer-events: none;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: strat;

    .top-content {
        height: 100px;
    }

    .center-content {
        margin: 2px;
        flex-grow: 3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .center-left-content {
            height: 100%;
            width: 100px;
        }

        .center-right-content {
            height: 100%;
            width: 100px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 0.25rem;
        }

        .center-center-content {
            margin: 2px;
            height: 100%;
            flex-grow: 3;
        }
    }

    .bottom-content {
        height: 100px;
    }
}

.side {
    /* border: 1px solid white; */
}

button {
    pointer-events: all;
    border: 3px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: rgb(100, 100, 100);
    cursor: pointer;
    transition: transform 0.2s linear;
}

button:hover {
    transform: scale(1.05);
}