:host {
    --particle-multiplyer: 0.05;
    --back-color: rgb(65, 78, 172);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(rgb(88, 101, 116), rgb(30, 37, 44) 100%);
}

.rounded {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    ;
    transition: transform 0.1s linear;
}

.content-preload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0), 0 0 15px 0px rgba(0, 0, 0) inset;
    animation: mask-shadow-animate 1s linear infinite;
}

.display {
    font: 4rem "Arial";
    text-shadow: 0 0 5px rgba(11, 11, 11, 1);
    color: #e2e1e8;
    width: 100px;
    height: 4rem;
    opacity: 0.5;
    transform: translateY(10px);
}

.stage {
    font: 1.5rem "Arial";
    color: rgb(146, 179, 158);
}

.mask {
    position: absolute;
    background: radial-gradient(rgba(50, 50, 50, 0.5) 50%, rgba(0, 0, 0, 0.5) 71%);
    border: 20px solid rgba(255, 255, 255, 0.1);
}

.mirror-blick {
    position: absolute;
    backdrop-filter: blur(1px);
}

.radar-line {
    position: absolute;
    opacity: 0.2;
    animation: radar-line-animate 3s linear infinite;
}

@keyframes radar-line-animate {
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes mask-shadow-animate {
    50% {
        box-shadow: 0 0 15px 0px rgb(255, 77, 53), 0 0 15px 0px rgb(255, 73, 32) inset;
    }
}

.animation-place {
    position: absolute;
    animation: rotateLoader 5s linear infinite;

    .loader {
        width: 100px;
        height: 100px;
        transform: rotateZ(-135deg);
        /* filter: hue-rotate(90deg); */
    }

    .loader-img {
        position: absolute;
        transform: translateX(15px) translateY(15px);
        z-index: 100;
    }
}



/* ANIMATIONS */
@keyframes rotateLoader {
    100% {
        transform: rotate(360deg);
    }
}

/* Particles */
/* PARTICLES */
.particles {
    position: absolute;
    transform-origin: center;
    transform: translateX(50px) translateY(25px);
}

.particles span {
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgba(102, 102, 102, 0.5);
    border-radius: 50%;
    animation: animatePosition calc(0.35s * var(--i)) linear infinite;
    animation-delay: calc(0.3s * var(--i));
}

@keyframes animatePosition {
    100% {
        transform: translateY(-90px) scale(20) translateX(calc(1px * var(--particle-multiplyer) * var(--i)));
        opacity: 0;
    }
}

@media (max-width:400px) {
    .border {
        transform: scale(0.8);
    }
}

@media (max-height:400px) {
    .border {
        transform: scale(0.8);
    }
}