:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(rgb(88, 101, 116), rgb(30, 37, 44) 100%);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.run-game-button {
    width: 100px;
    height: 100px;
    border: 5px solid white;
    border-radius: 50%;
    background: rgba(50, 50, 50, 1);
    cursor: pointer;
    transition: transform 0.25s linear;
}

.run-game-button:hover {
    transform: scale(1.05);
}