:host {
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    background: rgb(146, 140, 139);
    width: 300px;
    height: 300px;
    color: white;

    button {
        border: 3px solid white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        background: rgb(100, 100, 100);
        cursor: pointer;
        transition: transform 0.2s linear;
    }

    button:hover {
        transform: scale(1.05);
    }
}